.tableHeadingMobile {
    display: none !important;
}

.cityContainer {
    max-width: 1140px;
    margin: 16px auto 0;
    padding: 0 16px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1130px;
    justify-content: space-between;
}

.filterHeading {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-text-color);
}

.tableContainer {
    width: 100%;
}

.red {
    color: red;
}

.title {
    font-size: 36px;
    line-height: 56px;
    color: var(--title-color);
    margin-bottom: 4px;
    display: flex;
}

.goBack {
    opacity: 0.3;
    cursor: pointer;
    margin-right: 5px;
    position: relative;
    display: flex;
}

.goBack:after {
    content: '>';
    display: block;
    position: relative;
}

.subtitle {
    font-size: 16px;
    line-height: 32px;
    color: var(--main-text-color);
}

.titlesContainer {
    margin-bottom: 64px;
}

.tableHeadingDesktop,
.tableHeadingMobile {
    display: flex;
    margin: 0 0 40px 15px;
    width: 100%;
    justify-content: space-between;
    color: var(--main-text-color);
    font-size: 12px;
    line-height: 16px;
}

.tableHeadingDesktop > * {
    width: 33%;
}

.tableHeadingDesktop > *:last-child {
    display: flex;
}

.tableheadingRed {
    color: red;
}

@media (max-width: 768px) {
    .titlesContainer {
        margin-bottom: 50px;
    }

    .tableHeadingDesktop {
        display: none;
    }

    .tableHeadingMobile {
        display: flex !important;
        padding: 16px;
    }

    .titleGroup {
        width: 50%;
        display: flex;
        align-items: start;
        flex-direction: column;
    }
}
