.criticalClasses {
    display: flex;
    justify-content: space-between;
    width: 54px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #DEDEDE;
}

.criticalClasses.first .dot:first-child {
    background-color: #F7441D;
}

.criticalClasses.second .dot:nth-child(-n+2) {
    background-color: #F7441D;
}

.criticalClasses.third .dot:nth-child(-n+3) {
    background-color: #F7441D;
}

.criticalClasses.fourth .dot:nth-child(-n+4) {
    background-color: #F7441D;
}

.criticalClasses.fifth .dot:nth-child(-n+5) {
    background-color: #F7441D;
}

@media (max-width: 768px) {

    .criticalClasses {
        height: 112px;
        width: auto!important;
        flex-direction: column-reverse;
    }

    .dot {
        width: 12px;
        height: 12px;
        border-radius: 0;
        transform: rotate(45deg);
        background-color: #F8D5D1;
    }
}
