.mobileWrapper {
    display: none;
}

.checkList {
    width: 100%;
    max-width: 207px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--lite-gray-color);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 12px 12px 0 12px;
}

.searchAll {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--lite-gray-color);
    margin-bottom: 12px;
}

.searchInput {
    width: 100%;
    max-height: 187px;
    font-size: 14px;
    padding: 5px 12px;
    margin-bottom: 12px;
}

.allProducts {
    margin: 0 0 0 5px;
}

.listContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checked-item,
.not-checked-item {
    line-height: 14px;
    padding: 12px;
    margin: 0 -12px;
    display: flex;
}

.checked-item input,
.not-checked-item input {
    margin-right: 8px;
}

.checked-item {
    background-color: #E6F7FF;
}

.isMobileWindow {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 768px) {
    .checkList {
        max-width: 100%;
        margin-bottom: 40px;
        position: relative;
    }

    .listContainer {
        max-height: 136px;
        overflow: hidden;
        align-items: start;
        overflow-y: scroll;
        padding-bottom: 25px;
    }

    .filterContent:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 36px;
        z-index: 3;
        background: linear-gradient(0deg, white 0%, rgba(0, 0, 0, 0) 100%);
    }

    .isMobileWindow {
        opacity: 0;
        visibility: hidden;
    }

    .mobileWrapper {
        display: block;
        margin-bottom: 10px;
        font-family: 'Tenor Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .filterContent {
        width: 100%;
        position: fixed;
        top: 50%;
        left: 0;
        z-index: 3;
        transform: translate(0, -50%);
        background-color: white;
        padding: 36px 16px;
    }

    .shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #000;
        opacity: 0.3;
    }

}
