.contacBox {
    width: 100%;
    padding: 20px 24px;
    background-color: #FBFBFB;
}

.contactList {
    display: flex;
    flex-direction: column;
}

.textWrapper {
    margin-bottom: 16px;
}

.link {
    font-size: 14px;
    line-height: 22px;
}
