.header {
    display: flex;
    justify-content: space-between;
    min-height: 56px;
    background-color: var(--white-color);
    padding: 12px 40px;
    box-sizing: border-box;
    align-items: center;
}

.fullLogoWrap{
    display: flex;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--title-color);
}

.link, .link:hover {
    text-decoration: none;
}