.homeContainer {
    max-width: 1140px;
    margin: -228px auto 0;
    padding: 0 16px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filterHeading {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-text-color);
}

.tableContainer {
    min-width: 70%;
}

.red {
    color: red;
}

.title {
    color: var(--white-color);
    margin-bottom: 12px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 60px;
    line-height: 72px;
    max-width: 645px;
}

.disclaimer {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: var(--white-color);
    max-width: 645px;
    margin-bottom: 84px;
}

.subtitle {
    color: var(--title-color);
    font-family: 'Tenor Sans', sans-serif;
    font-size: 40px;
    line-height: 60px;
}

.subtitleDisclaimer {
    display: flex;
    align-items: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #5B5A62;
    margin: 0;
}

.disclaimerDots {
    margin-right: 15px;
}

.titlesContainer {
    margin-bottom: 64px;
}

.tableheading {
    display: flex;
    margin: 0 0 40px 15px;
    width: 100%;
    justify-content: space-between;
    color: var(--main-text-color);
    font-size: 12px;
    line-height: 16px;
}

.tableheading > * {
    width: 33%;
}

.tableheading > *:last-child {
    width: 80%;
    display: flex;
}

.tableheadingRed {
    color: red;
}


@media (max-width: 768px) {
    .homeContainer {
        margin: 32px auto 0;
    }

    .title {
        color: var(--title-color);
        font-size: 48px;
        line-height: 56px;
        max-width: 100%;
    }

    .disclaimer {
        color: var(--title-color);
        max-width: 100%;
        margin-bottom: 56px;
    }

    .subtitle {
        font-size: 28px;
        line-height: 40px;
    }
}
