.rowBodyMobile {
    display: none;
}

.rowBodyDesktop,
.rowBodyMobile {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding: 4px 0 8px 0;
    margin-bottom: 24px;
    cursor: pointer;
}

.rowBodyDesktop > *,
.rowBodyMobile .tableGroup {
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.rowBodyDesktop > * > *,
.rowBodyMobile .tableGroup > * {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.criticality {
    display: flex;
    align-items: center;
}

.cities {
    display: flex;
}

.arrow {
    text-align: end;
    margin-left: auto;
    max-width: fit-content;
}

.contact {
    min-width: fit-content;
}

.red {
    color: red;
}

@media (max-width: 768px) {
    .rowBodyDesktop {
        display: none;
    }

    .rowBodyMobile {
        display: flex;
    }

    .rowBodyMobile > * {
        width: 50%;
    }

    .tableGroup {
        flex-direction: column;
        align-items: start !important;
        justify-content: space-between;
    }

    .innerGroup {
        display: flex;
    }

    .innerGroup > *:not(:last-child) {
        margin-right: 24px;
    }
}
